@use '~styles/appColors' as *;

.app-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    width: 100%;
    height: 100%;
    padding: 50px 20px;

    background: radial-gradient(96.24% 96.24% at 50% 29.13%, #374151 2.05%, #1F2023 25.3%, #282D35 100%);

    >.middle-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    > .services-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 10px;
    }
}
